<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻管理--编辑</title>
    <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css" rel="stylesheet">
    <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css" rel="stylesheet">
    <style>
        #editor{
            width: 654px;
            height: 300px;
            margin: 40px;
        }
    </style>
</head>
<body>
<div>
    <div style="height: 70px;">

    </div>
    <form id="J_Form" class="form-horizontal" method="post" action="/news/edit">
        <input type="hidden" id="id" name="id" th:value="${news.id}">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">新闻标题：</label>
                <div class="controls">
                    <input name="newsTitle" type="text" data-rules="{required:true}" data-messages="{required:'新闻标题不能为空'}" class="input-normal control-text" data-tip="{text:'请输入新闻标题'}" th:value="${news.newsName}">
                </div>
            </div>
            <div class="control-group span15">
                <label class="control-label">创建日期：</label>
                <div class="controls bui-form-group" data-rules="{dateRange : true}">
                    <input name="newsTime" data-tip="{text : '创建日期'}" data-rules="{required:true}" data-messages="{required:'日期不能为空'}" class="input-small calendar" type="text" th:value="${news.newsTime}">

                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">新闻状态：</label>
                <div class="controls">
                    <select name="newsStatus" class="input-normal" th:value="${news.newsStatus}">
                        <option value="0">显示</option>
                        <option value="1">隐藏</option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label">新闻链接：</label>
                <div class="controls control-row4">
                    <textarea class="input-large" data-rules="{required:true,maxlength:100}" type="text" name="newsUrl" th:value="${news.newsUrl}"></textarea>
                </div>
            </div>
        </div>

        <div class="row form-actions actions-bar">
            <div class="span13 offset3 ">
                <button type="submit" class="button button-primary">保存</button>
                <button type="reset" class="button">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/buiJs/bui.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script type="text/javascript" src="/buiJs/config-min.js"></script>
<script type="text/javascript">
    (function () {
        BUI.use('bui/form',function(Form){
            new Form.HForm({
                srcNode : '#J_Form',
                defaultChildCfg : {
                    validEvent : 'blur' //移除时进行验证
                },
                submitType:'ajax',
                callback:function(date){
                    if(date.status){
                        BUI.Message.Show({
                            msg : '修改成功！',
                            icon : 'question',
                            buttons : [],
                            autoHide : true,
                            autoHideDelay : 1000
                        });
                        top.topManager.closePage('newsEdit');
                    }else{
                        BUI.Message.Show({
                            msg : '修改失败，请联系管理员！',
                            icon : 'question',
                            buttons : [],
                            autoHide : true,
                            autoHideDelay : 1000
                        });
                        top.topManager.closePage('newsEdit');
                    }
                }
            }).render();
        });

        /*   function onSubmit() {
         return true;
         }*/

    }());
</script>
</body>
</html>