<!DOCTYPE HTML>
<html>
<head>
    <title>融鑫源后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css" rel="stylesheet">
    <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css" rel="stylesheet">
    <link href="/css/main-min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header">

    <div class="dl-title">
        <a href="/">融鑫源后台管理系统</a>
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">系统管理员</span><a href="###" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">首页</div></li>
        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/buiJs/bui.js"></script>
<script type="text/javascript" src="/buiJs/config.js"></script>

<script>
    BUI.use('common/main',function(){
        var config = [{
            id:'menu',
            homePage : 'news',
            menu:[{
                text:'首页内容',
                items:[
                    {id:'news',text:'首页新闻',href:'/main/news',closeable : false},
                    {id:'products',text:'首页产品',href:'/main/products'},
                    {id:'broadcast',text:'首页广播',href:'/main/broadcast'}
                ]
            },{
                    text:'用户管理',
                    items:[
                        {id:'user',text:'用户信息',href:'/main/user'}
                    ]
                }]
        }];
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>
</body>
</html>
